<<!-- リスト5.11:トップページ用テンプレート -->
<!-- リスト7.5:サンプルアプリのサービス内容に合うものに修正する -->
<!-- リスト7.5:①base.htmlのblockタグに埋め込むため、extendsタグを使ってbase.htmlを読み込む -->
{% extends 'base.html' %}

<!-- リスト7.5:②loadタグを使いstaticタグを使えるようにする -->
{% load static %}

<!-- リスト7.5:③ページタイトルをbase.htmlのtitleという名前を付けたblockタグに埋め込む -->
{% block title %}Web上にあなた専用の日記ページを保存できるサービス | Private Diary{% endblock %}

<!-- リスト7.5:④ヘッダーをbase.htmlのheaderという名前を付けたblockタグに埋め込む -->
{% block header %}

<!-- リスト10.10:ナビゲーションバーとトップページに認証用ページヘ遷移するリンクを貼る -->
<header class="masthead text-center text-white"> 
  <div class="masthead-content"> 
    <div class="container"> 
      <h1 class="masthead-headin gmb-0">Private Diary</h1> 
      <h2 class="masthead-subheading mb-0">あなた専用の日記保存サービス</h2> 
      <!-- リスト10.10:トップページのログインボタンにログインリンクを付ける -->
      <a href="{%url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a> 
    </div> 
  </div> 

  <div class="bg-circle-1 bg-circle"></div> 
  <div class="bg-circle-2 bg-circle"></div> 
  <div class="bg-circle-3 bg-circle"></div> 
  <div class="bg-circle-4 bg-circle"></div> 
</header> 
{% endblock %}


<!-- リスト7.5:⑤コンテンツをbase.htmlのcontentsという名前を付けたblockタグに埋め込む -->
{% block contents %}
<section> 
  <div class="container"> 
    <div class="row align-items-center"> 
      <div class="col-lg-6 order-lg-2"> 
        <div class="p-5"> 
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/01.jpg' %}" alt=""> 
        </div> 
      </div> 
      <div class="col-lg-6 order-lg-1"> 
        <div class="p-5">
          <h2 class="display-4">Web Diary</h2> 
          <p>Web上で作成/編集/削除ができる日記</p> 
        </div> 
      </div> 
    </div> 
  </div> 
</section> 

<section> 
  <div class="container"> 
    <div class="row align-items-center"> 
      <div class="col-lg-6"> 
        <div class="p-5"> 
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/02.jpg' %}" alt=""> 
        </div> 
      </div> 
      <div class="col-lg-6"> 
        <div class="p-5"> 
          <h2 class="display-4">Save Your Diary</h2> 
          <p>あなたの日記をWebに保存</p> 
        </div> 
      </div> 
    </div> 
  </div> 
</section> 

<section> 
  <div class="container"> 
    <div class="row align-items-center"> 
      <div class="col-lg-6 order-lg-2"> 
        <div class="p-5"> 
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/03.jpg' %}" alt=""> 
        </div> 
      </div> 
      <div class="col-lg-6 order-lg-1"> 
        <div class="p-5"> 
          <h2 class="display-4">Membership System</h2> 
          <p>会員制のWeb日記サービス</p> 
        </div> 
      </div> 
    </div> 
  </div> 
</section> 
{% endblock %}
