/* リスト7.4:コンテンツの中身が少なくても最下部にフッターを固定するCSSスタイルを追加する */ 
body, #wrapper { 
  display: flex; 
  flex-direction: column; 
  min-height: 1OOvh; 
} 

footer { 
  margin-top: auto; 
} 

/* リスト8.6:ナビゲーションバーと問い合わせフォームが重ならないように、フォームの上margin-top(要素の上側の空き)にマージン「6rem」を追加する */
.my-div-style {
  margin-top: 6rem;
}
